In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame

In [2]:
df = DataFrame({'k1':['X','X','Y','Y','Z'],
                    'k2':['alpha','beta','alpha','beta','alpha'],
                    'dataset1':np.random.randn(5),
                    'dataset2':np.random.randn(5)})

In [3]:
df

   dataset1  dataset2 k1     k2
0 -0.929436 -0.378686  X  alpha
1 -0.043932 -1.331733  X   beta
2 -0.709081 -1.331266  Y  alpha
3  2.347984  0.322723  Y   beta
4 -0.396844  1.260504  Z  alpha

In [7]:
# dataset1をk1でまとめる
group1 = df['dataset1'].groupby(df['k1'])

In [9]:
# 新しいオブジェクトが作られる
group1

In [10]:
# 平均
group1.mean()

k1
X   -0.486684
Y    0.819452
Z   -0.396844
Name: dataset1, dtype: float64

In [11]:
# キーを変える
cities = np.array(['NY','LA','LA','NY','NY'])
month = np.array(['JAN','FEB','JAN','FEB','JAN'])

In [12]:
df['dataset1'].groupby([cities, month]).mean()

LA  FEB   -0.043932
    JAN   -0.709081
NY  FEB    2.347984
    JAN   -0.663140
Name: dataset1, dtype: float64

In [13]:
df

   dataset1  dataset2 k1     k2
0 -0.929436 -0.378686  X  alpha
1 -0.043932 -1.331733  X   beta
2 -0.709081 -1.331266  Y  alpha
3  2.347984  0.322723  Y   beta
4 -0.396844  1.260504  Z  alpha

In [15]:
# dfのk1をキーにして、平均を求める
df.groupby('k1').mean()

    dataset1  dataset2
k1
X  -0.486684 -0.855210
Y   0.819452 -0.504272
Z  -0.396844  1.260504

In [16]:
# 複数の列をリストで渡す
df.groupby(['k1', 'k2']).mean()

          dataset1  dataset2
k1 k2
X  alpha -0.929436 -0.378686
   beta  -0.043932 -1.331733
Y  alpha -0.709081 -1.331266
   beta   2.347984  0.322723
Z  alpha -0.396844  1.260504

In [17]:
# 出力する列を限定する
dataset2_group = df.groupby(['k1', 'k2'])['dataset2']

In [19]:
dataset2_group.mean()

k1  k2
X   alpha   -0.378686
    beta    -1.331733
Y   alpha   -1.331266
    beta     0.322723
Z   alpha    1.260504
Name: dataset2, dtype: float64

In [20]:
# それぞれのグループにデータが何個あるか
df.groupby('k1').size()

k1
X    2
Y    2
Z    1
dtype: int64

In [22]:
for name, group in df.groupby('k1'):
    print('{} group'.format(name))
    print(group)
    print('\n')

X group
   dataset1  dataset2 k1     k2
0 -0.929436 -0.378686  X  alpha
1 -0.043932 -1.331733  X   beta


Y group
   dataset1  dataset2 k1     k2
2 -0.709081 -1.331266  Y  alpha
3  2.347984  0.322723  Y   beta


Z group
   dataset1  dataset2 k1     k2
4 -0.396844  1.260504  Z  alpha

In [23]:
# 複数のキーを指定する
for (k1, k2), group in df.groupby(['k1', 'k2']):
    print('k1={} k2={}'.format(k1, k2))
    print(group)
    print('\n')

k1=X k2=alpha
   dataset1  dataset2 k1     k2
0 -0.929436 -0.378686  X  alpha


k1=X k2=beta
   dataset1  dataset2 k1    k2
1 -0.043932 -1.331733  X  beta


k1=Y k2=alpha
   dataset1  dataset2 k1     k2
2 -0.709081 -1.331266  Y  alpha


k1=Y k2=beta
   dataset1  dataset2 k1    k2
3  2.347984  0.322723  Y  beta


k1=Z k2=alpha
   dataset1  dataset2 k1     k2
4 -0.396844  1.260504  Z  alpha

In [25]:
# k1のXのみを出力
gr = df.groupby('k1')
gr.get_group('X')

   dataset1  dataset2 k1     k2
0 -0.929436 -0.378686  X  alpha
1 -0.043932 -1.331733  X   beta

In [27]:
# 上記と同じ
group_dict = dict(list(df.groupby('k1')))
group_dict['X']

   dataset1  dataset2 k1     k2
0 -0.929436 -0.378686  X  alpha
1 -0.043932 -1.331733  X   beta

In [30]:
# 列方向にgroupby
group_dict_axis1 = dict(list(df.groupby(df.dtypes, axis=1)))

In [31]:
group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0 -0.929436 -0.378686
 1 -0.043932 -1.331733
 2 -0.709081 -1.331266
 3  2.347984  0.322723
 4 -0.396844  1.260504, dtype('O'):   k1     k2
 0  X  alpha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}