In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [2]:
ser1 = Series([1, 2, 3, 4], index=['A', 'B', 'C', 'D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
# indexを付け加える
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [5]:
# 新しく作られたindexに値を入れる
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [7]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0, 5, 10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [9]:
# 0~4はUSA
# ffill: 前に向かって埋める
ser3.reindex(range(15), method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [10]:
df = DataFrame(randn(25).reshape((5, 5)), index=['A', 'B', 'D', 'E', 'F'], columns=['col1', 'col2', 'col3', 'col4', 'col5'])

In [11]:
df

       col1      col2      col3      col4      col5
A  0.281422 -1.335551 -2.310165 -0.988687  0.550906
B  2.992388  1.290935  1.658527 -0.161070  0.703107
D -1.495745  0.558999 -3.003196 -0.579120  0.457166
E  0.305217  0.105083 -1.376526  1.460369 -0.020540
F  1.055049 -1.366969 -1.503119  1.881081  0.327338

In [16]:
# index名を付け加える
new_index = ['A', 'B', 'C', 'D', 'E', 'F']
df2 = df.reindex(new_index)

In [17]:
df2

       col1      col2      col3      col4      col5
A  0.281422 -1.335551 -2.310165 -0.988687  0.550906
B  2.992388  1.290935  1.658527 -0.161070  0.703107
C       NaN       NaN       NaN       NaN       NaN
D -1.495745  0.558999 -3.003196 -0.579120  0.457166
E  0.305217  0.105083 -1.376526  1.460369 -0.020540
F  1.055049 -1.366969 -1.503119  1.881081  0.327338

In [18]:
# 列名を付け加える
new_columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']
df2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.281422 -1.335551 -2.310165 -0.988687  0.550906   NaN
B  2.992388  1.290935  1.658527 -0.161070  0.703107   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.495745  0.558999 -3.003196 -0.579120  0.457166   NaN
E  0.305217  0.105083 -1.376526  1.460369 -0.020540   NaN
F  1.055049 -1.366969 -1.503119  1.881081  0.327338   NaN

In [19]:
# 行と列の付け替え
df.ix[new_index, new_columns]

/Users/akihiro/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

       col1      col2      col3      col4      col5  col6
A  0.281422 -1.335551 -2.310165 -0.988687  0.550906   NaN
B  2.992388  1.290935  1.658527 -0.161070  0.703107   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.495745  0.558999 -3.003196 -0.579120  0.457166   NaN
E  0.305217  0.105083 -1.376526  1.460369 -0.020540   NaN
F  1.055049 -1.366969 -1.503119  1.881081  0.327338   NaN