In [1]:
# JSON (JavaScript Object Notation) のサンプル。
json_obj = """
{   "zoo_animal": "Lion",
    "food": ["Meat", "Veggies", "Honey"],
    "fur": "Golden",
    "clothes": null, 
    "diet": [{"zoo_animal": "Gazelle", "food":"grass", "fur": "Brown"}]
}
"""

In [2]:
import json

In [3]:
# jsonを読み込む
data = json.loads(json_obj)
data

{'clothes': None,
 'diet': [{'food': 'grass', 'fur': 'Brown', 'zoo_animal': 'Gazelle'}],
 'food': ['Meat', 'Veggies', 'Honey'],
 'fur': 'Golden',
 'zoo_animal': 'Lion'}

In [6]:
type(data)

dict

In [7]:
data['diet']

[{'food': 'grass', 'fur': 'Brown', 'zoo_animal': 'Gazelle'}]

In [8]:
# json形式の文字列に戻す
json.dumps(data)

'{"zoo_animal": "Lion", "food": ["Meat", "Veggies", "Honey"], "fur": "Golden", "clothes": null, "diet": [{"zoo_animal": "Gazelle", "food": "grass", "fur": "Brown"}]}'

In [9]:
# ファイルに書き込む
json.dump(data, open('data.json', 'w'))

In [10]:
!cat data.json

{"zoo_animal": "Lion", "food": ["Meat", "Veggies", "Honey"], "fur": "Golden", "clothes": null, "diet": [{"zoo_animal": "Gazelle", "food": "grass", "fur": "Brown"}]}

In [12]:
# ファイルから読み込む
json.load(open('data.json'))

{'clothes': None,
 'diet': [{'food': 'grass', 'fur': 'Brown', 'zoo_animal': 'Gazelle'}],
 'food': ['Meat', 'Veggies', 'Honey'],
 'fur': 'Golden',
 'zoo_animal': 'Lion'}

In [13]:
import pandas as pd

In [14]:
df_json = pd.DataFrame(data['diet'])

In [15]:
df_json

    food    fur zoo_animal
0  grass  Brown    Gazelle

In [17]:
df = pd.DataFrame(data['food'])
df

         0
0     Meat
1  Veggies
2    Honey