In [1]:
import pandas as pd
from pandas import Series

In [3]:
# Seriesを作成
obj = Series([3, 6, 9, 12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [5]:
# Seriesのデータを取り出す
# Numpyのarray型で返される
obj.values

array([ 3,  6,  9, 12])

In [6]:
# インデックスを取り出す
obj.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
# 第二次世界大戦の各国の死傷者数
ww2_cas = Series([8700000, 4300000, 3000000, 2100000, 400000], index=['USSR', 'Germany', 'China', 'Japan', 'USA'])

In [8]:
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [9]:
# データにアクセス
ww2_cas['USA']

400000

In [10]:
ww2_cas[ww2_cas>4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [11]:
ww2_cas>4000000

USSR        True
Germany     True
China      False
Japan      False
USA        False
dtype: bool

In [12]:
# 'USSR'があるかどうか
'USSR' in ww2_cas

True

In [13]:
# 辞書を作成
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [14]:
# 辞書からSeriesを作成
ww2_Series = Series(ww2_dict)
ww2_Series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [15]:
countries = ['China', 'Germany', 'Japan', 'USA', 'USSR', 'Algentina']

In [17]:
obj2 = Series(ww2_dict, index=countries)
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Algentina          NaN
dtype: float64

In [18]:
# NaNがあるか確認
obj2.isnull()

China        False
Germany      False
Japan        False
USA          False
USSR         False
Algentina     True
dtype: bool

In [19]:
# NaNの数を確認
obj2.isnull().sum()

1

In [20]:
# NaNではないものを確認
obj2.notnull()

China         True
Germany       True
Japan         True
USA           True
USSR          True
Algentina    False
dtype: bool

In [21]:
ww2_Series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [22]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Algentina          NaN
dtype: float64

In [23]:
ww2_Series + obj2

Algentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [24]:
obj2.name = '第二次世界大戦の死傷者数'
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Algentina          NaN
Name: 第二次世界大戦の死傷者数, dtype: float64

## 注意
- 極力日本語は使用しない
- Python2系の場合は以下の記載方法
```
obj2.name = u'第二次世界大戦の死傷者数'
```

In [25]:
# インデックスに名前をつける
obj2.index.name = 'Countries'

In [26]:
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Algentina          NaN
Name: 第二次世界大戦の死傷者数, dtype: float64

In [27]:
obj2.values.name = 'casualties'
obj2

AttributeError: 'numpy.ndarray' object has no attribute 'name'