In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [4]:
df1 = DataFrame(np.arange(8).reshape((2, 4)),
                                    index=pd.Index(['LA', 'SF'], name='cities'),
                                    columns=pd.Index(['A', 'B', 'C', 'D'], name='letter'))

In [5]:
df1

letter  A  B  C  D
cities
LA      0  1  2  3
SF      4  5  6  7

In [6]:
# dfをSeriesに変換
df1.stack()

cities  letter
LA      A         0
        B         1
        C         2
        D         3
SF      A         4
        B         5
        C         6
        D         7
dtype: int64

In [7]:
type(df1.stack())

pandas.core.series.Series

In [8]:
df_stack = df1.stack()
df_stack

cities  letter
LA      A         0
        B         1
        C         2
        D         3
SF      A         4
        B         5
        C         6
        D         7
dtype: int64

In [10]:
# Seriesからdfに変換
df_stack.unstack()

letter  A  B  C  D
cities
LA      0  1  2  3
SF      4  5  6  7

In [12]:
# 階層的インデックスの最初の階層が列に来る
df_stack.unstack(0)

cities  LA  SF
letter
A        0   4
B        1   5
C        2   6
D        3   7

In [13]:
df_stack.unstack('cities')

cities  LA  SF
letter
A        0   4
B        1   5
C        2   6
D        3   7

In [14]:
df_stack.unstack('letter')

letter  A  B  C  D
cities
LA      0  1  2  3
SF      4  5  6  7

In [15]:
ser1 = Series([1, 2, 3], index=['Q', 'X', 'Y'])
ser2 = Series([4, 5, 6], index=['X', 'Y', 'Z'])

In [16]:
df = pd.concat([ser1, ser2], keys=['alpha', 'beta'])
df

alpha  Q    1
       X    2
       Y    3
beta   X    4
       Y    5
       Z    6
dtype: int64

In [17]:
df.unstack()

         Q    X    Y    Z
alpha  1.0  2.0  3.0  NaN
beta   NaN  4.0  5.0  6.0

In [18]:
df.unstack().stack()

alpha  Q    1.0
       X    2.0
       Y    3.0
beta   X    4.0
       Y    5.0
       Z    6.0
dtype: float64

In [19]:
df.unstack().stack(dropna=False)

alpha  Q    1.0
       X    2.0
       Y    3.0
       Z    NaN
beta   Q    NaN
       X    4.0
       Y    5.0
       Z    6.0
dtype: float64