In [1]:
import pandas as pd

In [2]:
!cat lec25.csv

q,r,s,t,apple
2,3,4,5,pear
a,s,d,f,rabbit
5,2,5,7,dog

In [3]:
# csvを読み込む
df = pd.read_csv('lec25.csv')
df

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

## 注意
- 上記の場合、カラムに一行めのデータが入ってしまう

In [4]:
# headerにデータを与えない場合
df = pd.read_csv('lec25.csv', header=None)

In [5]:
df

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [6]:
df_table = pd.read_table('lec25.csv', sep=',', header=None)
df_table

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [9]:
# 読み込む行数を制限
pd.read_csv('lec25.csv', header=None, nrows=2)

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [10]:
df

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [11]:
# csvを保存
df.to_csv('my_data.csv')

In [12]:
!cat my_data.csv

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [14]:
# 標準出力の読み込み
import sys
df.to_csv(sys.stdout)

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [15]:
# 区切り文字を変更
df.to_csv(sys.stdout, sep='_')

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pear
2_a_s_d_f_rabbit
3_5_2_5_7_dog

In [ ]:
# カラムを指定すると保存する列を制限できる
d