In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
arr = np.array([[1, 2, np.nan], [np.nan, 3, 4]])
arr

array([[  1.,   2.,  nan],
       [ nan,   3.,   4.]])

In [4]:
df1 = DataFrame(arr, columns=['one', 'two', 'three'], index=['A', 'B'])
df1

   one  two  three
A  1.0  2.0    NaN
B  NaN  3.0    4.0

In [5]:
# 合計値を列ごとに計算
df1.sum()

one      1.0
two      5.0
three    4.0
dtype: float64

In [7]:
# 行方向に合計値を計算する
df1.sum(axis=1)

A    3.0
B    7.0
dtype: float64

In [8]:
# 列ごとの最小値
df1.min()

one      1.0
two      2.0
three    4.0
dtype: float64

In [10]:
# 行ごとの最小値
df1.min(axis=1)

A    1.0
B    3.0
dtype: float64

In [12]:
# 最小値がどのインデックスか確認
df1.idxmin()

one      A
two      A
three    B
dtype: object

In [13]:
# 最大値がどのインデックスか確認
df1.idxmax()

one      A
two      B
three    B
dtype: object

In [14]:
df1

   one  two  three
A  1.0  2.0    NaN
B  NaN  3.0    4.0

In [15]:
# 累積を求める
df1.cumsum()

   one  two  three
A  1.0  2.0    NaN
B  NaN  5.0    4.0

In [16]:
# 統計量を確認
df1.describe()

       one       two  three
count  1.0  2.000000    1.0
mean   1.0  2.500000    4.0
std    NaN  0.707107    NaN
min    1.0  2.000000    4.0
25%    1.0  2.250000    4.0
50%    1.0  2.500000    4.0
75%    1.0  2.750000    4.0
max    1.0  3.000000    4.0

In [22]:
ser1 = Series(['w', 'e', 'r', 't', 'w', 'w', 't', 'e', 'w'])

In [23]:
ser1

0    w
1    e
2    r
3    t
4    w
5    w
6    t
7    e
8    w
dtype: object

In [24]:
ser1.unique()

array(['w', 'e', 'r', 't'], dtype=object)

In [25]:
ser1.value_counts()

w    4
t    2
e    2
r    1
dtype: int64