In [1]:
import numpy as np
from pandas import DataFrame

In [3]:
import pandas.util.testing as tm
tm.N = 3

def unpivot(frame):
    N, K = frame.shape
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    return DataFrame(data, columns=['date', 'variable', 'value'])

df = unpivot(tm.makeTimeDataFrame())

In [4]:
df

         date variable     value
0  2000-01-03        A  0.332390
1  2000-01-04        A  0.904278
2  2000-01-05        A  0.719323
3  2000-01-03        B -0.372855
4  2000-01-04        B  1.121585
5  2000-01-05        B  0.089904
6  2000-01-03        C -0.465879
7  2000-01-04        C -0.963387
8  2000-01-05        C -0.362069
9  2000-01-03        D  2.061854
10 2000-01-04        D -1.695927
11 2000-01-05        D  2.226935

In [5]:
df_piv = df.pivot('date', 'variable', 'value')

In [6]:
df_piv

variable           A         B         C         D
date
2000-01-03  0.332390 -0.372855 -0.465879  2.061854
2000-01-04  0.904278  1.121585 -0.963387 -1.695927
2000-01-05  0.719323  0.089904 -0.362069  2.226935