In [1]:
from pandas import DataFrame

In [3]:
df = DataFrame({'key1': ['A'] * 2 + ['B'] * 3, 'key2': [2, 2, 2, 3, 3]})

In [4]:
df

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [5]:
# 行のデータが重複しているか確認
df.duplicated()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [6]:
# 重複している行を取り除く
df.drop_duplicates()

  key1  key2
0    A     2
2    B     2
3    B     3

In [7]:
df.drop_duplicates(['key1'])

  key1  key2
0    A     2
2    B     2

In [8]:
df

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [10]:
df.drop_duplicates(['key1'], keep='last')

  key1  key2
1    A     2
4    B     3

In [11]:
df

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [14]:
new_df = df[df['key2'] == 2]

In [15]:
new_df

  key1  key2
0    A     2
1    A     2
2    B     2

In [18]:
df

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [31]:
# 重複を除いたデータ
new_df = df[~df.duplicated()]
new_df

  key1  key2
0    A     2
2    B     2
3    B     3

In [32]:
# 重複しているデータ
new_df = df[df.duplicated()]
new_df

  key1  key2
1    A     2
4    B     3

In [34]:
new_df = df.drop_duplicates()
new_df

  key1  key2
0    A     2
2    B     2
3    B     3